{% extends "layout.html" %} {% block left%}
<div>
    {% for game in games %}
        <p>{{ game.GName|safe }} {{ game.Studio|safe }} {{ game.ESRB|safe }} {{ game.Year|safe }} {{ game.Series|safe }}</p>
        <img src="{{ game.Picture|safe }}" alt="Picture">
    {% endfor %}
</div>

<ul>
    <form>
        <input type="text" name="paragraph">
        <input type="text" name="rating">
        <button type="submit">Write My Review</button>
    </form>
    {% for review in reviews %}
    <li>
        {{ review.Rating|safe }} {{ review.Text|safe }} {{review.Text|safe}} {{review.Uname|safe}}{% else %}
        <li>
            <em>Unbelievable.  No entries here so far</em> {% endfor %}
</ul>

{% endblock %} {% block right%}
<ul class="recommendations">
    {% for entry in recommendations %}
    <li>
        <h2>{{ entry.GName }}</h2>
        {{ entry.GName|safe }} {{ entry.Game_id|safe }} {% else %}
        <li><em>Unbelievable.  No entries here so far</em> {% endfor %}
</ul>
{% endblock %}