{% extends "layout.html" %} 
{% block left%}
<hr>
<div>
{% for game in games %}
    <h2>{{ game.GName|safe }}</h2>
    <p>Studio: {{ game.Studio|safe }}</p>
    <p>ESRB: {{ game.ESRB|safe }}</p>
    <p>Year: {{ game.Year|safe }}</p>
    <p>Series: {{ game.Series|safe }}</p>
    <img src="{{ game.Picture|safe }}" alt="Picture" width="700" height="500"> 
{% endfor %}
</div>

<h3>Review</h3>
<ul>
  {% if logged_in %}
    <form method=post>
        <input type="text" name="paragraph" placeholder="text">
        <input type="text" name="rating" placeholder="rating">
        <label for="tags">Please specify tags sperated by "; "</label>
        <input type="text" name="tags">
        <input type="submit" name="submit" value="add">Write My Review</input>
    </form>
    {% else %}
    Please log in to post a review for this game.
    {% endif %}
    {% for comment in comments %}
         {% if comment.R_id == review_id %}
         <li>{{ comment.Rating|safe }}
             {{ comment.Text|safe }}
             <form method=post>
                  <input type="submit" name="submit" value="Delete"></input>
             </form>
         </li>
         {% elif comment.R_id != review_id %}
         <li>
             <p><strong>Rating:</strong> {{ comment.Rating|safe }}</p>
             <p>{{ comment.Text|safe }}</p>
             <p>             -{{ comment.Uname|safe }}</p>
         </li>
         {% else %}
         <em>Unbelievable.  No entries here so far</em> 
         {% endif %}
     {% endfor %}
</ul>
{% endblock %} 

{% block right%}
<ul class="recommendations">
    {% for entry in recommendations %}
    <li>
        <h2>{{ entry.GName }}</h2>
        {{ entry.GName|safe }} {{ entry.Game_id|safe }} {% else %}
        <li><em>Unbelievable.  No entries here so far</em> {% endfor %}
</ul>
{% endblock %}
