{% extends "layout.html" %}

{% block alias_block %}
<a href=".\update_alias.html">{{ alias|safe }}</a>
{% endblock %}

{% block left %}
<table>
  <tr>
    <td valign="top">
      <ul class=entries>
        {% for entry in entries %}
        <li>
          <a href= '/inside_post/{{ entry.Game_id }}'>
            <h2>{{ entry.GName }}</h2>
          </a>
          {{ entry.GName|safe }} {{ entry.Game_id|safe }} <img src="{{ entry.Picture|safe }}" alt="pic" width="700" height="300"> {% else %}
          <li><em>Unbelievable.  No entries here so far</em> {% endfor %}
      </ul>
    </td>
    <td valign="top">
      <ul class="recommendations">
        {% for entry in recommendations %}
        <li>
          <h2>{{ entry.GName }}</h2>
          {{ entry.GName|safe }} {{ entry.Game_id|safe }} {% else %}
          <li><em>Unbelievable.  No entries here so far</em> {% endfor %}
      </ul>

    </td>
    <td valign="top">
      <ul class="Comments">
        {% for entry in Comments %}
        <li>
          <h2>{{ entry.GName }}</h2>
          {{ entry.GName|safe }} {{ entry.Game_id|safe }} {% else %}
          <li><em>Unbelievable.  No entries here so far</em> {% endfor %}
      </ul>

    </td>
  </tr>
</table>
{% endblock %}
