<!DOCTYPE html>
<html>
  
  <head>
    <title>Update Your Alias</title>
  </head>
  
  <body>
    <form method=post action="">
      <div class="control-group">
        <div class="controls">
          <input type="text" id="new_alias" name="new_alias" value="{ temp|safe }" required>
        </div>
        <button class="btn btn-sm btn-success" type="submit">Sign in</button>
    </form>
    <ul>
      {% for liked in likes %}
      <li>
        <a href= '/inside_post/{{ entry.Game_id }}'>
          <h2>{{ liked.GName }}</h2>
        </a>
        {% endfor %}
    </ul>
  </body>
</html>
